.carsContainer {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.car-card {
  margin-bottom: 20px;
  margin-left: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-image {
  width: 400px;
  height: auto;
  border-radius: 8px 8px 0 0; /* Rounded cers only at the top */
}

.car-details {
  padding: 15px;
}

.car-brand {
  font-size: 1.2rem;
  font-weight: bold;
}

.car-price {
  font-size: 1.1rem;
  color: #007bff;
}
